.artist{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.artist img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.artist-name{
    font-size: 16px !important;
}
.artist-artist{
    color: dimgray !important;
    font-size: 14px !important;
    margin-top: -10px !important;
}