.faixa-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 38px;
    flex-direction: row;
    margin-top: 18px;
    width: 90vw;
    gap: 28px;
    height: 70px;
}
.faixa-div img{
    width: 50px;
    
}
.especificacoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
}
.artist-name{
    margin-top: -0px !important;
    text-overflow: ellipsis !important;
}
.artist-artist{
    margin-top: -0px !important;
    text-overflow: ellipsis !important;
}