@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body{
  margin: 0;
  background-color: #111111;
}
span{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
}
.container{
  background-color: #111111;
  width: 100vw;
  height: 100vh;
}
.logo img{
  width: 200px;
  margin-top: 28px;
  margin-left: 28px;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}
.mais-ouvidas{
  width: 90vw;
  height: 280px;
  background-color: #1D1D1D;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mais-ouvidas span{
  font-weight: bold;
  color: white;
  font-size: 26px;
  margin-top: 18px;
}
.artistas-populares{
  display: flex;
  gap: 18px;
}
.cont2{
  width: 90vw;
  height: 450px;
  background-color: #1D1D1D;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cont2 span{
  font-weight: bold;
  color: white;
  font-size: 26px;
  margin-top: 18px;
}